.category-item__main {
  padding-top: 100px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.category-item__title {
  margin: 20px 0;
  text-align: left;
}

.category-item__list {
  display: flex;
  flex-wrap: wrap;
}
