.category-item__list {
    display: flex;
    flex-wrap: wrap;
}

.category-item__inner {
    margin-top: 30px;
    width: calc(20% - 20px);
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    // box-shadow: rgba(0, 0, 0, 0.16%) 0px 1px 4px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.category-item__inner:hover {
    transform: translateY(-5px);
}

.category-item__title {
    font-size: 14px;
    text-align: center;
    flex: 1 1 0%;
}

.category-item__image {
    margin-top: 10px;
}

.category-item__image img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}