// .category-main {
//     // padding-top: 1.5rem;
// }

.category-inner {
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.category-header {
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
}

.category-list {
    // display: grid;
    // grid-template-columns: repeat(9, 1fr);
    // gap: 20px;

    padding: 0px 20px 15px 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    width: 120px;
    height: 150px;
    border: 0.5px solid rgb(231, 228, 228);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    padding: 5px;
}

.category-image {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
    border-radius: 50%;
    // object-fit: cover;
}

.category-name {
    text-align: center;
    width: 100%;
    height: 3.125rem;
    font-size: 1.4rem;
    padding-top: 15px;
}

.category-item:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 3px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
