.product-detail-container .box-info {
    text-align: left;
}

.price-stock {
    display: flex;
    margin-bottom: 15px;

    .info-price {
        margin-right: 50px;
    }
}

.box-info .name {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.add-to-cart .addtocart {
    min-width: 200px;
    height: 50px;
    line-height: 40px;
    border: none;
    background-color: #ee4d2d;
    padding: 0 30px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;

    &:hover {
        opacity: 0.9;
    }
}

.btn-Login {
    min-width: 200px;
    height: 50px;
    line-height: 40px;
    border: none;
    background-color: #ee4d2d;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;

    &:hover {
        opacity: 0.9;
    }
}

.description {
    margin-bottom: 20px;
}

.box-image {
    border: 1px solid #ddd;
    padding: 10px;
}
