.products {
    padding-top: 100px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 186px;
    height: auto;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 10%);
    border-radius: 0.125rem;
}

.product__image {
    width: 186px;
    height: 186px;
    overflow: hidden;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__name {
    padding: 8px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__price {
    font-size: 1rem;
    color: #ee4d2d;
    padding: 8px;
}
