.container-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    padding: 0px 8% 50px 8%;
}

.btn-page {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25px;
    height: 25px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & :hover {
        background-color: #ee4d2d;
        color: #fff;
    }

    & :focus {
        background-color: #ee4d2d;
        color: #fff;
    }
}

.page {
    display: flex;
    justify-content: center;

    .page-item {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
    }
}
