@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: auto; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}


[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

/*
Detail page
*/
.product-detail-container::after {
  content: "";
  display: block;
  clear: both;
}
.product-detail-container .box-image {
  float: left;
  width: 40%;
}

.product-detail-container .box-image img {
  width: 100%;
}

.product-detail-container .box-info {
  float: left;
  width: 57%;
  padding-left: 30px;
}

/* .container {
  max-width: 1170px;
  margin: 0 auto;
} */
